<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckPrivateApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04A34C591C0EEEB4001AAA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A34C721C0EEEB4001AAA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A34C7D1C0EEEB4001AAA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
