<div class="api-results">
  <table class="table table-striped">
    <% for api_result in @api_results %>
      <tr>
        <td> <%= api_result.title %></td>
        <td><span style="white-space: pre-line"><%= api_result.content %><span> </td>
      </tr>
    <% end %>
  </table> 
</div>
